*{
    background-color: #251135;

}
.text {
    font-family: "Montagu Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color:#FFFFFF;
    margin-left: 240px;
    padding: 2% 7%;
}

.p-text{
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-color: #251135;
    border: none;
    font-weight: 100;
    font-size: 23px;
    width: 100%; /* Ширина контента = 100% ширины экрана - ширина сайдбара */
    text-align: left;
}

.list-element{ /* Стиль для элемента списков */
    display: flex;
    align-items: baseline;
    justify-content: left;
    background-color: #251135;
    border: none;
    font-weight: 100;
    font-size: 23px;
    width: 100%; /* Ширина контента = 100% ширины экрана - ширина сайдбара */
    text-align: left;
}

.h1-text {
    color: white;
    font-size: 43px;
    margin: 0 0 2% 0; /* Same as the width of the sidebar */
    text-align: center;

}

.h3-text {
    font-size: 32px;
}


.et__example {
    border: 2px solid white;
    border-radius: 8px;
    padding: 1%;
    margin: 2%;
}