<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Learn&Play</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"  th:href="@{/css/carousel.css}"/>

    <!-- Style CSS -->
    <link rel="stylesheet"  th:href="@{/css/style.css}"/>

    <!-- Swiper CSS -->
    <link rel="stylesheet"  th:href="@{/css/swiper-bundle.min.css}"/>


    <!-- Подключение CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Подключение JavaScript -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script> -->

</head>


<header class="header container">
    <!-- <div class="navigation">
        <ul>
            <li>О нас</li>
            <li>Помощь</li>
          </ul>
      </div>  -->
    <form class="header__link">
        <a href='#'><span>Мобильное приложение</span></a>
        <a href='/entry'>
            <button button id="entry" type="button">Войти</button>
        </a>
    </form>
</header>
<main>
    <div class="intro">
        <div class="container">
            <h1>Learn & Play</h1>
            <p>Секрет эффективной подготовки ​к экзамену по математике</p>
            <a href='#'><span><button type="button">Зарегистрироваться</button></span></a>
        </div>
    </div>
    <div class="services container">
        <div class="__container">
            <h3>Мы создали уроки и задания, чтобы помочь вам в интересном формате подготовиться к экзамену.</h3>
            <p>Это отличный способ в игровом формате освоить необходимые навыки решения задач.</p>
        </div>
        <div class="services__blocks">
            <div class="service__block">
                <img src="../static/images/puzzle.png" alt="puzzle"/>
                <p>Игрофикация</p>
                <h4>Развивайте свои навыки и
                    соревнуйтесь с друзьями</h4>
            </div>
            <div class="service__block">
                <img src="../static/images/monitor.png" alt="tires and wheels"/>
                <p>Удобство</p>
                <h4>Планируйте и учитесь откуда удобно</h4>
            </div>
            <div class="service__block">
                <img src="../static/images/energy.png" alt="engine"/>
                <p>Эффективность</p>
                <h4>Выбирайте план обучения под себя любимого</h4>
            </div>
        </div>
    </div>
    <div class="how_work">
        <div class="how_work_inner container">
            <div class="how_work__img">
                <img src="../static/images/laptop.png" alt="service"/>
                <span class="how_work__link"><button> Как это работает?</button></span>
            </div>
            <div class="how_work__info">
                <h2>
                    Как выстраивается подготовка?</h2>
                <p>
                    *здесь будет какой-то текст*
                </p>
            </div>
        </div>
    </div>
    <div class="process container">
        <h2>Подготовиться к экзамену просто!</h2>
        <div class="services__blocks">
            <div class="service__block">
                <img src="../static/images/card_reg.svg" alt="puzzle"/>
                <p>Пройди регистрацию</p>
            </div>
            <div class="service__block">
                <img src="../static/images/list.svg" alt="tires and wheels"/>
                <p>Используй разработанный план</p>
            </div>
            <div class="service__block">
                <img src="../static/images/cup.svg" alt="engine"/>
                <p>Выполни задания</p>
            </div>
        </div>
    </div>
    <div class="person">
        <div class="person_text">
            <h2> Выбери своего персонажа</h2>
            <div>
                <section>
                    <img
                            src="https://picsum.photos/id/23/500"
                            alt=""
                            class='bg-image'
                    >
                    <div class="carousel-container">
                        <div class="carousel">
                            <img src="../static/images/characters/1.png" class="carousel-image"/>
                            <!-- <img src="C:\Users\Mi\Desktop\site\images\pers-2.png" class="carousel-image"/> -->
                            <!-- <img src="C:\Users\Mi\Desktop\site\images\pers-3.png" class="carousel-image"/> -->
                            <img src="../static/images/characters/4.png" class="carousel-image"/>
                            <img src="../static/images/characters/5.png" class="carousel-image"/>
                            <!-- <img src="C:\Users\Mi\Desktop\site\images\pers-6.png" class="carousel-image"/> -->
                            <img src="../static/images/characters/7.png" class="carousel-image"/>
                            <img src="../static/images/characters/8.png" class="carousel-image"/>
                        </div>
                        <button class='arrow left-arrow'>
                <span>
                  &#8249;
                </span>
                        </button>
                        <button class='arrow right-arrow'>
                <span>
                  &#8250;
                    <!-- Remember that this entity will return to us a symbol named (single pointing angle quotation mark) -->
                </span>
                        </button>
                    </div>
                </section>
            </div>
            <script src='carousel.js'></script>
        </div>
        <div class="person__img"></div>

        <span class="how_work__link"><button id="registration" type="button">Зарегистрироваться</button></span>
    </div>

    <div class="apps">
        <div class="how_work_inner container">
            <div class="apps_text">
                <h2>
                    Мобильное приложение</h2>
                <span class="apps__link"><button> Скачать</button></span>
            </div>
            <div class="apps_image">
                <img src="../static/images/apps.png"
                     alt="service"
                     width=150%;
                     height=150%;
                />
            </div>
        </div>
    </div>
</main>
</body>

</html>
